/* Mobile view Style */

@media (max-width: 543px) {
}

a {
    text-decoration: none;
}

.topNav {
    margin: 0px;
    padding: 0px;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    height: auto;
    max-width: 100%;

    background-color: white;

    box-shadow: 1px 1px 3px 1px rgba(222, 233, 241, 0.733);

    z-index: 4;
}

#logo {
    margin: 2px 8px;
    padding: 10px 5px;

    font-size: 25px;
    font-weight: bold;
    color: dodgerblue;
    background-color: white;

    position: relative;
}
#serchicon {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 8px;
    right: 10px;
    float: right;

    background-color: white;
}

.topicons {
    margin: 0px;
    padding: 0px;

    position: relative;

    height: auto;
    max-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.topicons .icons {
    margin: auto;
    padding: auto;

    padding: 3px 15px;
    /* border-bottom: solid 3px dodgerblue; */
}

/* for tablet view */

@media (min-width: 544px) {
    .topNav {
        display: none;
    }
}

/* for desktop view */

@media (min-width: 1020px) {
    .topNav {
        display: none;
    }
}
