

/* Mobile view Style */

@media(max-width: 543px){
    .tablettopnav{
        display: none;
    }

    }
    
    
    /* for tablet view */
    
    @media(min-width: 544px)  {
    
   
    .tablettopnav{
        margin: 0px;
        padding: 5px;
        position: fixed;
        top: 0px;
        left: 35%;
        right: 0px;

        height: auto;
        display: flex;
        flex-direction: row;

        box-shadow: 1px 1px 4px 1px rgba(214, 217, 226, 0.274);
    background-color: white;
    
    }


       
    .tablettopnav h1{
        position: relative;
        margin: auto;
        padding: 0px;

    }

} 
    

        /* for desktop view */
    
        @media(min-width: 1020px){
            .tablettopnav{
                display: none;
            }
        
        }