

.notification{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.notification_card{
    margin: 10px 8px;
    padding: 0px;
    max-width: 100%;
    max-height: 58px;
    background-color: white;

    display: flex;
    flex-direction: row;

    background-color: white;

    border-radius: 15px  0px;
    /* border: solid 1.5px rgba(173, 172, 172, 0.308); */
    box-shadow: 1px 1px 3px 1px #e6e6ee8f;
}

.notification_card .notes_image_box{
    margin: 0px;
    padding: 0px;
    height: auto;
    width: auto;

}


.notification_card .notes_image_box img{
    margin: 0px;
    padding: 0px;
    height: 58px;
    width: 58px;

    object-fit: cover;
    object-position: center;

    border-radius: 100px;

}


.notification_card .text_box{
    margin: 0px;
    padding: 0px 2px 2px 6px;
    display: flex;
    flex-direction: column;

    width: auto;

}




.notification_card .text_box .notes_name{
    margin: 0px;
    padding: 1px;

    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;

    
    word-wrap: break-word;

    color: rgba(12, 12, 170, 0.993);

}



.notification_card .text_box .nots_detail{
    margin: 0px;
    padding: 0px;

    font-size: 13px;
    font-family: sans-serif;
    font-weight: lighter;

    word-wrap: break-word;
    overflow: hidden;

    color: rgb(56, 55, 55);

}

.notification_card .notes_time{
    margin: 0px;
    padding: 0px;

    font-family: sans-serif;
    font-weight: lighter;
    font-size: 10px;
    

    color: rgb(87, 85, 85);
}